[submodule "command_parser"]
	path = command_parser
	url = ../command_parser.git
[submodule "base64_encode_decode"]
	path = base64_encode_decode
	url = https://github.com/mavirique/base64_encode_decode.git
